* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;

    background: #d15503;

    color: white;

    min-height: 100vh;
}

.sidebar {

    position: fixed;

    left: 0;
    top: 0;
    bottom: 80px;

    width: 230px;

    background: #470a0a;

    padding: 25px;

}


.logo {

    color: #fefdff;

    font-size: 30px;

    margin-bottom: 35px;

}


.sidebar nav a {

    display: block;

    color: #cfcfcf;

    text-decoration: none;

    padding: 12px 5px;

    font-size: 16px;

    cursor: pointer;

}


.sidebar nav a:hover {

    color: rgb(255, 255, 255);

}


.playlist-menu {

    margin-top: 35px;

}


.playlist-menu h3 {

    color: rgb(255, 255, 255);

    margin-bottom: 15px;

}


.playlist-menu p {

    color: #b3acac;

    margin: 14px 0;

    cursor: pointer;

}


.playlist-menu p:hover {

    color: white;

}
.main-content {

    margin-left: 230px;

    padding-bottom: 110px;

    min-height: 100vh;

}

.top-bar {

    height: 70px;

    background: #400f0f;

    display: flex;

    align-items: center;

    gap: 10px;

    padding: 0 30px;

}


.arrow-button {

    width: 35px;
    height: 35px;

    border: none;

    border-radius: 50%;

    background: #242424;

    color: white;

    font-size: 25px;

}


.profile {

    margin-left: auto;

    background: #242424;

    padding: 10px 15px;

    border-radius: 20px;

}

.welcome {

    padding: 40px 30px 20px;

}


.welcome h1 {

    font-size: 32px;

    margin-bottom: 10px;

}


.welcome p {

    color: #aaa;

}

.music-section {

    padding: 25px 30px;

}


.music-section h2 {

    font-size: 24px;

    margin-bottom: 20px;

}

.music-grid {

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 20px;

}


.music-card {

    background: #181818;

    padding: 18px;

    border-radius: 10px;

    cursor: pointer;

    transition: 0.3s;

}


.music-card:hover {

    background: #282828;

    transform: translateY(-5px);

}


.album {

    height: 170px;

    border-radius: 8px;

    background:
        linear-gradient(
            135deg,
            #5f2c82,
            #49a09d
        );

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 65px;

    margin-bottom: 15px;

}


.music-card h3 {

    margin-bottom: 8px;

}


.music-card p {

    color: #999;

    font-size: 14px;

}

.playlist-section {

    margin: 20px 30px 40px;

    background: #181818;

    padding: 30px;

    border-radius: 12px;

}


.playlist-header {

    display: flex;

    align-items: center;

    gap: 25px;

    margin-bottom: 30px;

}


.playlist-cover {

    width: 170px;

    height: 170px;

    background:
        linear-gradient(
            135deg,
            #5f2c82,
            #49a09d
        );

    border-radius: 8px;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 70px;

}


.playlist-label {

    color: #aaa;

    font-size: 13px;

    letter-spacing: 2px;

    margin-bottom: 8px;

}


.playlist-header h2 {

    font-size: 30px;

    margin-bottom: 8px;

}


.playlist-header p {

    color: #999;

}

.playlist-song {

    display: flex;

    align-items: center;

    gap: 20px;

    padding: 15px;

    border-radius: 8px;

}


.playlist-song:hover {

    background: #282828;

}


.song-number {

    width: 30px;

    color: #999;

    text-align: center;

}


.song-info {

    flex: 1;

}


.song-info strong {

    font-size: 16px;

}


.song-info p {

    color: #999;

    margin-top: 5px;

    font-size: 13px;

}


.playlist-song button {

    width: 40px;

    height: 40px;

    border: none;

    border-radius: 50%;

    background: #1db954;

    color: white;

    cursor: pointer;

    font-size: 16px;

}


.playlist-song button:hover {

    transform: scale(1.08);

}

.artist-grid {

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 20px;

}


.artist-card {

    background: #181818;

    padding: 20px;

    border-radius: 10px;

    text-align: center;

}


.artist-image {

    width: 140px;

    height: 140px;

    margin: auto;

    border-radius: 50%;

    background:
        linear-gradient(
            135deg,
            #833ab4,
            #fd1d1d
        );

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 55px;

    margin-bottom: 15px;

}


.artist-card p {

    color: #999;

    margin-top: 5px;

}

.player {

    position: fixed;

    left: 0;

    right: 0;

    bottom: 0;

    height: 80px;

    background: #181818;

    border-top: 1px solid #333;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 10px 25px;

}


.now-playing {

    display: flex;

    align-items: center;

    gap: 12px;

    width: 30%;

}


.mini-cover {

    width: 50px;

    height: 50px;

    background:
        linear-gradient(
            135deg,
            #5f2c82,
            #49a09d
        );

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 5px;

    font-size: 25px;

}


.now-playing p {

    color: #999;

    font-size: 13px;

    margin-top: 5px;

}


.player-controls {

    display: flex;

    align-items: center;

    gap: 20px;

}


.player-controls button {

    background: none;

    border: none;

    color: white;

    font-size: 22px;

    cursor: pointer;

}


.play-button {

    width: 42px;

    height: 42px;

    border-radius: 50% !important;

    background: white !important;

    color: black !important;

    font-size: 18px !important;

}


.volume {

    display: flex;

    align-items: center;

    gap: 10px;

    width: 20%;

}


.volume input {

    width: 100px;

}


.hidden-section {

    display: none;

    padding: 40px 30px;

}


.hidden-section h1 {

    margin-bottom: 25px;

}


#searchInput {

    width: 400px;

    padding: 15px;

    border: none;

    border-radius: 25px;

    outline: none;

    font-size: 16px;

}


#searchResults {

    margin-top: 30px;

    color: #aaa;

}



.library-list {

    display: flex;

    flex-direction: column;

    gap: 15px;

}


.library-list div {

    background: #181818;

    padding: 20px;

    border-radius: 8px;

    cursor: pointer;

    font-size: 18px;

}


.library-list div:hover {

    background: #282828;

}


@media (max-width: 900px) {

    .music-grid,
    .artist-grid {

        grid-template-columns:
            repeat(2, 1fr);

    }

}


@media (max-width: 600px) {

    .sidebar {

        width: 170px;

    }

    .main-content {

        margin-left: 170px;

    }

    .music-grid,
    .artist-grid {

        grid-template-columns: 1fr;

    }

}